

body {
  background: $gray-lighter;
}

.body iframe {
  width: 100%;
  height: 850px;
}
.body {
  @include box-shadow(#000 0px 0px 30px);
  position: relative;
  margin: 0 35px;
}

.header, .navbar {
  margin-bottom: 0px !important;
}
.navbar {
  border-bottom: 0px;
}

.top, .bottom {
  background: #FFF;
  margin-left: 50px;
  margin-right: 50px;

  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  padding-top:100px;

}

div {

}
//@source: http://stackoverflow.com/questions/19601245/create-a-circular-button-in-bs3
span.bg-circle {
  background: $brand-primary;
  @include border-radius(.8em);
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  height: 1.6em;
  width: 1.6em;
}

.submit123 {
  margin-top: 30px;
}

.submit123 .btn {
  min-width: 150px;
}

.bottom img {
  max-width: 100%;
}

.top {
  margin-top: 30px;
  border-top: 1px solid $gray-light;
  padding-bottom:100px;
}

.top h1, .bottom h3 {
  margin-top: 10px;
}
.bottom h2 {
  margin: 25px 15px;
}

img.profile {
  margin-right: 10px;
}

.bottom.last{
  border-bottom: 1px solid $gray-light;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.help-options {
  padding: 0 20px;
}

.banner {
  height: 200px;
  background: #2e6da4;
  color: white;
}

@media (max-width: $screen-md-min) {
  .profile-no-float-md {
    float: none !important;
    max-width: 450px;
    margin: 0 auto;
  }
  .top {
    margin-top: 5px;
    padding-top: 25px;
  }
  .top, .bottom {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 25px;
  }
  .body {
    margin: 0 5px;
  }
}
