

body {
  background: $gray-lighter;
}

.body iframe {
  width: 100%;
  height: 850px;
}
.body {
  @include box-shadow(#000 0px 0px 30px);
  position: relative;
  margin: 0 35px;
}

.top, .bottom {
  background: #FFF;
  margin-left: 50px;
  margin-right: 50px;

  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  padding-top:80px;

}

.bottom img {
  max-width: 100%;
}

.top {
  margin-top: 30px;
  border-top: 1px solid $gray-light;
  padding-bottom:80px;
}

.top h1, .bottom h3 {
  margin-top: 10px;
}
.bottom h2 {
  margin: 25px 15px;
}

.bottom.last {
  border-bottom: 1px solid $gray-light;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

@media (max-width: $screen-md-min) {
  .top {
    margin-top: 5px;
    padding-top: 25px;
  }
  .top, .bottom {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 25px;
  }
  .body {
    margin: 0 5px;
  }
}


.container-xs {
  max-width: $screen-xs-min;
}

.container-sm {
  max-width: $screen-sm-min;
}

.section {
  margin-top: 50px;
}

@media (max-width: $screen-sm-min) {
  .section {
    margin-top: 25px;
  }
}
