$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_layout.scss";
@import "modules/_ah2p.scss";
@import "modules/_instruction.scss";
@import "modules/_bg-circle.scss";
@import "modules/_form.scss";
@import "modules/_profile.scss";
@import "modules/_deck-menu.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
