a.ah2p, a.ah2p:hover {
  color: $text-color;
  text-decoration: none;
  display: block;
  padding: 1px 10px;

  max-width: 450px;
  margin: 0 auto;

  @media (max-width: $screen-md-min) {
    padding: 0;
  }
}

a.ah2p:hover {
  background-color: $gray-lighter;
}

a.ah2p span.target {
  text-decoration: underline;
}
